@charset "utf-8";
/* 公共样式 */
* {
-webkit-tap-highlight-color: transparent;
-webkit-appearance: none;
}
body{margin:0; padding:0;font-family:verdana,"微软雅黑","Arial"; font-size:14px;line-height:18px;color:#666;text-align:left; border:none; background:#ededed;}
img,html,p,ul,li,input,form,h1,h2,h3,h4,h5,h6,dl,dd,dt,ol,input{margin:0;padding:0;border:0;}
ul,li{list-style-type:none;}
.tion_nr_lefts img{vertical-align:top;border:0;-ms-interpolation-mode: bicubic;
	width: 75px;height: 75px;border:1px solid #e5f0ce;margin-top: 3px;margin-bottom: 5px;
	-webkit-box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.48);-moz-box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.48);
	-moz-border-radius:50px;-webkit-border-radius:50px;border-radius: 50px;
	overflow: hidden;text-overflow:ellipsis;white-space:nowrap;
}
a{outline:none;blr:expression(this.onFocus=this.blur());}
a:link{color:#666;text-decoration: none;}
a:visited{color:#666;text-decoration: none;}
a:hover{color:#c00;text-decoration:none;}
a:active{color:#666;text-decoration: none;}
a:focus{outline:none;}
a.hidefocus{outline:none;}
.clear{clear:both;font-size:0px;height:0px;line-height:0px;overflow:hidden;}
fieldset, img{border:0;}

input, label, select, option, textarea, button, fieldset, legend{font:12px/18px Verdana, Simsun, Helvetica, Arial, sans-serif; vertical-align:middle;font-family: inherit;letter-spacing: normal;-webkit-appearance: none;}

textarea {
resize: none;
overflow: auto;
vertical-align: top
}
input[type='number'] {  
-moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
-webkit-appearance: none;  
margin: 0;  
} 
#Whole{ min-width:320px;max-width:640px;margin:0 auto;background:#ededed;position:relative;min-height:37em;}
#base_Whole{ min-width:320px;max-width:640px;margin:0 auto;background:#ededed;position:relative; overflow:hidden;height:auto;min-height:37em;}

.base_center{width:100%;height:auto;}

.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {clear:both;zoom:1;}
/**
 * style arrow
 *
 * @project
 * @copyright
 * @author      
 * @version 	1.0
 *
 */

/**
 * CSS Menu
 *
 * Arrow
 * - theme
 * - color
 * - size
 */

/* Arrow
 ---------------------------------------- */

.arrow {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	display: inline-block;
	padding: 0 !important;
	background-image: none;
	font-size: 0 !important;
	line-height: 0 !important;
	vertical-align: middle;
}
.arrow>* {
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
}
.arrow[class*="top-"],
.arrow[class*="top-"]>* {
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-left-color: transparent !important;
	border-top-width: 0 !important;
}
.arrow[class*="right-"],
.arrow[class*="right-"]>* {
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	border-right-width: 0 !important;
}
.arrow[class*="bottom-"],
.arrow[class*="bottom-"]>* {
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	border-bottom-width: 0 !important;
}
.arrow[class*="left-"],
.arrow[class*="left-"]>* {
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	border-left-width: 0 !important;
}

/* arrow theme */
.arrow[class*="-solid"],
.arrow[class*="-hollow"]>* {
	width: 0 !important;
	height: 0 !important;
	border: 7px solid #333;
}
.arrow[class*="-hollow"]>* {
	display: block;
}
.arrow[class*="-hollow"]>i {
	position: absolute;
	border-width: 6px;
	border-color: #fff;
}
.top-hollow>i,
.left-hollow>i {
	top: 1px;
	left: 1px;
}
.right-hollow>i,
.bottom-hollow>i {
	right: 1px;
	bottom: 1px;
}

/* arrow color */
.arrow.white,
.arrow.white>b {
	border-color: #fff;
}
.arrow.muted,
.arrow.muted>b {
	border-color: #979797;
}
.arrow.danger,
.arrow.danger>b {
	border-color: #f86363;
}

/* arrow size */
.arrow.xs,
.arrow.xs>b {
	border-width: 4px;
}
.arrow.xs>i {
	border-width: 3px;
}
.arrow.sm,
.arrow.sm>b {
	border-width: 6px;
}
.arrow.sm>i {
	border-width: 5px;
}
.arrow.lg,
.arrow.lg>b {
	border-width: 9px;
}
.arrow.lg>i {
	border-width: 8px;
}
.arrow.xl,
.arrow.xl>b {
	border-width: 15px;
}
.arrow.xl>i {
	border-width: 14px;
}